@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 0 0 0;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 65vh;
  width: auto;

  h1 {
    font-size: 32px;
    text-align: center;
  }

  .container {
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 15vh 0 0 0;

    .food-card {
      height: 150px;
      width: 150px;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: all 0.5s ease;
      gap: 1;

      &:hover {
        box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 0.2);
        -webkit-box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 0.2);
        -moz-box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 0.2);
      }

      .food-name {
        font-size: 18px;
        font-weight: bold;
      }

      img {
        height: 100px;
        width: 120px;
      }

      .cost {
        font-size: 14px;
        font-weight: bold;
      }

      .none {
        display: none;
      }
    }
  }
}

footer {
  height: 15vh;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
